/* You can add global styles to this file, and also import other style files */
body {
	background-color: #E9E9E9;
	margin: 0;
	padding: 0;
}

li, h1 {
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}
